* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body{
    background-image: url(/src/assets/fundo_academia.png);
    height: 100%;
    font-family:'Times New Roman', Times, serif;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .LOGIN {
    background-color: rgba(55, 55, 70, 0.438);
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 350px;
    width: 100%;
  }

    .LOGIN h1 {
    text-align: center;
    margin-bottom: 40px;
    color: #bbaf0f;
  }

  .LOGIN{
    display: block;
    font-weight: bold;
    margin-bottom: 40px;
  }

  .LOGIN input {
    width: 100%;
    padding: 10px;
    margin-bottom: 40px;
  }

  .LOGIN button {
    width: 100%;
    padding: 10px;
    background-color: #a38c08;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }

  @media (max-width: 480px) {
    .login-container {
      padding: 30px 20px;
    }
  }
